.cases {
	width: 100%;
	margin-bottom: 30px;
	&_wrapper {
		background-color: #F5F5FA;
		border-radius: 12px;
		padding: 20px 0 20px;
	}
	&_itm {
		flex: 0 0 calc(100% / 3);
		max-width: calc(100% / 3);
		justify-content: flex-end;
		border: 1px solid $white;
		padding: 20px;
		@include mmax(992) {
			flex: 0 0 calc(100% / 2);
		   max-width: calc(100% / 2);
		}
		@include mmax(768) {
			flex: 0 0 calc(100% / 1);
		   max-width: calc(100% / 1);
		}
		&:nth-child(4) {
			flex-shrink: 2;
		}
	}
	&_nav {
		color: $red;
		padding-bottom: 20px;
		border-bottom: 2px solid $white;
	}
	&_title {
		font-size: 24px;
		font-weight: 500;
		line-height: 29px;
		color: $mainSoft;
		padding-bottom: 20px;
	}
}
