.intro {
	width: 100%;
	position: relative;
	z-index: 5;

	&_banner {
		width: 100%;
		max-width: 595px;
		margin: 0 auto;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		position: relative;
		img {
			padding-top: 120px;
		}
	}
	&_inner {
		display: flex;
		flex-wrap: nowrap;
		flex: 0 0 90%;
		max-width: 90%;
		justify-content: center;
		align-items: center;
		margin-bottom: 80px;
	}
	&__colleft {
		flex: 0 0 40%;
		max-width: 40%;
		text-align: right;
		padding-right: 40px;
		position: relative;
		&::after {
			content: '';
			display: block;
			border: 4px solid $white;
			transform: rotate(0deg);
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}
	}
	&__colright {
		flex: 0 0 60%;
		max-width: 60%;
		padding-left: 40px;
	}
	&_nav {
			color: rgba(255, 255, 255, .5);
		
		&::after {
			content: '';
			border: solid rgba(255, 255, 255, .5);
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(-45deg);
			position: absolute;
			top: 4px;
			right: -10px;
			z-index: 1;
		}
	}
	
	&_title {
		display: block;
		text-align: center;
		font-weight: 500;
		font-size: 38px;
		line-height: 45px;
		color: $white;
		padding-top: 70px;
		position: absolute;
		top: 17%;
		z-index: 1;
	}
	&_headline {
		font-size: 42px;
		line-height: 49px;
		color: $gray;

	&:not(:last-child) {
		margin: 0 auto 20px;
	}
}
	&_header {
		margin-bottom: 68px;
	}
	&_subtitle {
		font-size: 32px;
		font-weight: 500;
		line-height: 38px;
		color: $white;
		margin-bottom: 20px;
	}
	&_link {
		display: inline-flex;
		width: 92px;
		height: 92px;
		padding: 14px;
		background-color: $white;
		border: 1px solid transparent;
		border-radius: 24px;
		margin-bottom: 20px;
	}
	&_itm {
		padding-right: 40px;
		 padding-bottom: 58px;
   	 margin-bottom: 0;
	}
		
	

}