.intro {
	margin-bottom: 80px;
	&_inner {
		display: flex;
		flex-wrap: nowrap;
		flex: 0 0 90%;
		max-width: 90%;
		justify-content: center;
		align-items: center;
		margin-bottom: 80px;
	}
	&_link__wrapper {
		&:not(:last-child) {
			margin: 0 0 20px;
			@include mmax(992) {
				margin: 0 0 10px;
			}
		}
	}
	&_link {
		display: block;
		font-size: 42px;
		font-weight: 700;
		line-height: 49px;
		text-align: right;
		color: $gray;
		position: relative;
			@include mmax(768) {
			text-align: center;
		}
			@include mmax(992) {
			font-size: 32px;
			line-height: 45px;
		}
			@include mmax(320) {
			font-size: 28px;
			line-height: 1.2;
		}
		&:hover {
			display: block;
			font-size: 42px;
			font-weight: 700;
			line-height: 50px;
			background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: $trans;
				@include mmax(992) {
				font-size: 32px;
			}
				@include mmax(320) {
				font-size: 28px;
				line-height: 1.2;
			}
		}
			&::after {
			content: '';
			opacity: 0;
			height: 100%;
			border-right: 4px solid $red;
			position: absolute;
			top: 0;
			right: -40px;
			z-index: 5;
				@include mmax(768) {
					display: none;
			}
	}
		&:hover::after {
			opacity: 1;
			transition: $trans;
		}
		&.active_link {
			display: block;
			font-size: 42px;
			font-weight: 700;
			line-height: 50px;
			background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: $trans;
				@include mmax(992) {
				font-size: 32px;
				line-height: 45px;
			}
				@include mmax(320) {
				font-size: 28px;
				line-height: 1.2;
			}
	}
	}// /Link
	&_title {
		font-size: 32px;
		font-weight: 500;
		line-height: 38px;
		color: $white;
		margin-bottom: 20px;
		@include mmax(992) {
			font-size: 28px;
			margin-bottom: 10px;
		}
		@include mmax(320) {
			font-size: 24px;
		}
	}
	&_wrap {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		align-items: center;
		@include mmax(768) {
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
		}
	}
		&_col {
			&__small {
				flex: 0 0 35%;
				max-width: 35%;
				padding-right: 40px;
				position: relative;
				@include mmax(1199) {
					flex: 0 0 40%;
					max-width: 40%;
				}
				@include mmax(992) {
					flex: 0 0 45%;
					max-width: 45%;
				}
				@include mmax(768) {
					flex: 0 0 100%;
					max-width: 100%;
					padding: 0 0 30px 0;
				}
				&::after {
				content: '';
				display: block;
				border: 2px solid $white;
				transform: rotate(0deg);
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1;
					@include mmax(768) {
					transform: translateY(100px) translateX(-210px) rotate(-90deg);
				}
					@include mmax(480) {
					display: none;
				}
			}
		}
		&__big {
			display: flex;
			flex-direction: column;
			flex: 0 0 50%;
			max-width: 50%;
			display: none;
			@include mmax(768) {
				flex: 0 0 100%;
				max-width: 100%;
				text-align: center;
			}
			&.visible {
				display: flex;
			}
		}
	}
}