.articles {
	border-radius: 12px 12px 0 0;
	padding-top: 40px;
	background-color: #F5F5FA;
	@include mmax(768) {
		padding-bottom: 40px;
	}
	.title_gradient {
		margin-bottom: 34px;
	}
	.wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		@include mmax(1199) {
			justify-content: space-evenly;
		}
		&_itm {
			background-color: $white;
			border-radius: 8px;
			margin-bottom: 40px;
			@include mmax(850) {
				max-width: 45%;
			}
			@include mmax(768) {
				max-width: 100%;
			}
			img {
				min-height: 233px;
				overflow: hidden;
				@include mmax(842) {
					height: auto;
				}
			}
		}
	}
	&_nav {
		color: $blue;
		&::after {
			content: '';
			border: solid $blue;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(-45deg);
			position: absolute;
			top: 4px;
			left: 91px;
			z-index: 1;
		}
	}
	&_content {
		padding: 20px 21px;
	}
	&_header {
		border-bottom:  4px solid #E6E6F0;
		margin-bottom: 20px;
		@include mmax(576) {
			border: none;
		}
	}
	&_title {
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
		color: $blue;
		padding-bottom: 20px;
	}
	&_date {
		display: block;
		padding-bottom: 10px;
	}
	&_text {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: $black;
		margin: 0;
		padding: 0;
		 @include mmax(576) {
			display: none;
		}
	}
	.btn__blue {
		position: absolute;
		bottom: 60%;
		left: 0;
		right: 0;
		z-index: 10;
		@include mmax(768) {
			bottom: -28px;
		}
	}
	&_navbar {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}
	&_tabs {
		display: inline-flex;
		justify-content: space-between;
		width: auto;
		min-width: 260px;
		background-color: #E6E6F0;
		padding: 0;
	}
	&_gradient {
		width: 100%;
		height: 600px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
		@include mmax(768) {
			background: none;
		}
	}
}
.articles_page {
	padding-bottom: 40px;
	position: relative;
	.btn__blue {
		position: absolute;
		bottom: 14px;
		left: 0;
		right: 0;
		z-index: 10;
		@include mmax(768) {
			bottom: 14px;
		}
}
}
// PublicationsCard
.articles_card {
	max-width: 900px;
	margin: 0 auto;
	&_title {
		font-size: 382px;
		width: 500px;
		line-height: 500;
		color: $main;
	}
	&_list {
		counter-reset: section;
		li::before {
			counter-increment: section;
			content: counter(section);
		}
	}
	
}