.contacts {
	.wrap {
		justify-content: space-between;
		align-items: center;
		margin-bottom: 80px;
		@include mmax(768) {
			align-items: stretch;
		}
		&_col__small {
			@include mmax(768) {
				align-items: center;
			}
				@include mmax(768) {
					margin-bottom: 30px;
			}
		}
	}
	.title_gradient {
		font-size: 32px;
		margin-bottom: 20px;
		@include mmax(440) {
			font-size: 23px;
			line-height: 1;
		}
	}
	&_text {
		font-size: 21px;
		line-height: 30px;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;
		&:nth-child(1)::before {
			content: '';
			width: 100%;
			height: 4px;
			background-color: #E6E6F0;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
		}
		&:nth-child(1)::after {
			content: '';
			width: 100%;
			height: 4px;
			background-color: #E6E6F0;
			position: absolute;
			bottom: -70px;
			left: 0;
			z-index: 1;
	}
}
&_link {
	display: flex;
	max-width: 57%;
	align-items: flex-end;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $blue;
		@include mmax(992) {
			margin-top: 20px;
		}
	
}
}