.team {
	width: 100%;
	margin-bottom: 80px;
	.wrap_col__small {
		padding: 0;
	}
	&_header {
		width: 100%;
		max-width: 864px;
		margin: 0 auto 80px;
	}
	&_contacts {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-bottom: 2px solid #E6E6F0;
		padding: 10px 0 20px;
		margin-bottom: 40px;
	}
		.contact_link {
			margin-left: 26px;
			position: relative;
		
			&:nth-child(2)::after {
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #E6E6F0;
				position: absolute;
				top: 40%;
			   right: -15px;
	}
	&:nth-child(2)::before {
		content: "";
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #E6E6F0;
		position: absolute;
		top: 40%;
		left: -15px;
}
}

	.page_nav__violet {
		text-align: left;
	}
	.page_text__black{
		font-size: 18px;
	}
	.wrapper {
		margin-bottom: 60px;
	
	&_itm {
		position: relative;
		&:not(:nth-child(2n+4)):not(:nth-child(5)) {
			margin-bottom: 40px;
		}
			}	
		img {
			padding-bottom: 20px;
		}
	 }
 }
