.footer {
	border-top: 4px solid #E6E6F0;
	background-color: #F5F5FA;
	&_inner {
		display: flex;
		justify-content: space-between;
		padding: 32px 0 40px;
		@include mmax(1300) {
			flex-direction: column;
			align-items: center;
		}
	}
	&_contacts {
		display: flex;
		flex: 0 0 33%;
		max-width: 33%;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		@include mmax(1300) {
			flex: 0 0 50%;
			max-width: 50%;
			flex-direction: column;
			align-items: center;
		}
		@include mmax(992) {
			flex: 0 0 100%;
			max-width: 100%;
			flex-direction: column;
			align-items: center;
		}
	}
	.page_nav {
		color: $blue;
		&::before {
			content: "";
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #B3B3BA;
			position: absolute;
			top: 40%;
			left: -15px;
}
		&:hover {
			color: $red;
			transition: $trans;
		}
	}
	.tel {
		position: relative;
		&::before {
			content: "";
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #B3B3BA;
			position: absolute;
			top: 40%;
			left: -10px;
		}
			&::after {
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #B3B3BA;
				position: absolute;
				top: 40%;
				right: -15px;
	}
}
}