.footer {
	width: 100%;
	border-top: 4px solid #E6E6F0;
	background-color: #F5F5FA;
	&_inner {
		display: flex;
		justify-content: space-between;
		padding: 32px 0 40px;
	}
	&_contacts {
		display: flex;
		flex: 0 0 32%;
		max-width: 32%;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: flex-end;
	}
	&_nav {
		color: $blue;
	}
}