.team_slider {
	display: block;
	position: relative;
	overflow: hidden;
	.title_gradient {
		@include mmax(1270) {
				font-size: 32px;
			}
			@include mmax(992) {
				font-size: 26px;
				line-height: 1;
			}
			@include mmax(576) {
				font-size: 32px;
				line-height: 1;		
			}
			@include mmax(480) {
				font-size: 26px;
			}
			@include mmax(340) {
				font-size: 26px;
			}
		}
	&_slick {
		 display: block;
	}
		&_itm {
			background-color: #F5F5FA;
			border-radius: 12px;
			display: flex;
			@include mmax(992) {
				flex-direction: row;
				align-items: center;
				padding: 20px;
			}
			@include mmax(576) {
				flex-direction: column-reverse;
				align-items: flex-start;
				padding: 20px;
			}
				img {
					@include mmax(992) {
						width: 60px;
						height: 60px;
						border-radius: 50%;
					}
			}
		}
		&_content {
			display: flex;
			flex-direction: column;
			flex: 0 0 63%;
			max-width: 63%;
			padding: 40px 20px 0 40px;
			@include mmax(1199) {
				flex: 0 0 50%;
				max-width: 50%;
				padding: 40px 0 0 40px;
			}
			@include mmax(992) {
				flex: 0 0 70%;
				max-width: 70%;
			}
			@include mmax(768) {
				flex: 0 0 60%;
				max-width: 60%;
				padding: 20px;
			}
			@include mmax(575) {
				flex: 0 0 90%;
				max-width: 90%;
			}
			@include mmax(340) {
				flex: 0 0 80%;
				max-width: 80%;
				padding: 0 0 10px 0;
			}
		}
		&_nav {
			color: $blue;
			&::after {
				content: '';
				border: solid $blue;
				border-width: 0 2px 2px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(-45deg);
				position: absolute;
				top: 4px;
				left: 82px;
				z-index: 1;
			}
		}
		.slick-initialized {
			height: auto;
		}
		.slick-dotted.slick-slider {
			padding-bottom: 60px;
		}	
		.slick-dots {
			display: block;
			list-style: none;
			width: 100%;
			position: absolute;
			bottom: 15px;
			right: 0;
			left: 0;
			margin: 0 auto;
			z-index: 2;
		}
		
		.slick-dots button {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: rgba(36, 163, 255, .2);
			color: transparent;
			cursor: pointer;
			@include mmax(480) {
				width: 10px;
				height: 10px;
			}
			&:hover {
				background-color: rgba(36, 163, 255, .6); 
				transition: $trans;
			}
			
		}
		.slick-active button {
			background-color: rgba(36, 163, 255, .6); 
		}
		
		.slick-dots li {
			margin-right: 14px;
			@include mmax(480) {
				margin-right: 0px;
			}
		}
		.slick-dots li button::before{
			content: none;
		}
}	

			