$font: "TTNorms";
$fontSize: 18px;
$black: #000000;
$white: #fff;
$gray: #B3B3BA;
$blue: #24A3FF;
$main: #323264;
$mainSoft: #686887;
$red: #F0145A;
$gradient-title: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-title-reverse: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$trans: .3s ease-in-out;


@import "/node_modules/owl-carousel/owl-carousel/owl.carousel.css";
// @import "/node_modules/owl-carousel/owl-carousel/owl.theme.css";

body {
	margin: 0;
	width: 100%;
	min-width: 320px;
	box-sizing: border-box;
	font-family: $font;
	font-weight: 400;
	font-style: normal;
	font-size: $fontSize;
	line-height: 1.2;
	color: $main;
	// overflow-x: hidden;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
::placeholder {
	color: #666;
}
::selection {
	background-color: #666;
	color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
p {
	margin: 0;
}
b,
strong {
	font-weight: bold;
}
ul,ol{
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	font-size: 16px;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
img {
	max-width: 100%;
	display: block;
}
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1140px;
	min-width: 320px;
	@include mmax(1200) {
		max-width: 960px;
	}
}
.container-fluid{
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1350px;
	min-width: 320px;
}
//  Header-mobile
.header {
	&.fixed {
		height: auto;
		position: fixed;
		border: 1px solid rgba(104, 104, 135, .2);
		border-radius: 0 0 10px 10px;
		background: rgba(104, 104, 135, .8);
		backdrop-filter: blur(3px);
	}
	.header_burger {
		display: none;
		cursor: pointer;
		background: none;
		padding: 9px 2px;
		border: 0;  
		@include mmax(576) {
			display: block;
		}
		.burger__item {
			position: relative;
			display: block;
			width: 30px;
			height: 3px;
			background-color: $main;
			font-size: 0;
			color: transparent;
			
			&::before,
			&::after {
				content: "";
				width: 100%;
				height: 100%;
				background-color: $main;
				position: absolute;
				left: 0;
				z-index: 1;
			}
			&::before {
				top: -8px;
			}
			&::after {
				bottom: -8px;
			}
		}	
	}
}
//  Row-wrapper
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include mmax(1199) {
		justify-content: center;
	}
	&_itm {
		display: flex;
		max-width: 30%;
		flex-direction: column;
		@include mmax(1199) {
			max-width: 40%;
		}
		@include mmax(768) {
			max-width: 100%;
		}
	}
	&__colleft {
		display: flex;
		flex-basis: 53%;
		max-width: 53%;
		justify-content: center;
		padding-right: 42px;
	}
	&__colright {
		display: flex;
		flex-basis: 30%;
		max-width: 30%;
		justify-content: center;
		position: relative;
		padding-left: 20px;
		&::before {
			content: '';
			display: block;
			border: 2px solid #E6E6F0;
			transform: rotate(0deg);
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}
}
//  Colums_wrap
.wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	@include mmax(768) {
		flex-direction: column;
	}
	&_col {
		display: flex;
		flex-direction: column; 
		@include mmax(768) {
			flex: 0 0 100%;
			max-width: 100%;
		}
		&__small {
			flex: 0 0 35%;
			max-width: 35%;
			padding-right: 40px;
			position: relative;
			@include mmax(992) {
				flex: 0 0 40%;
				max-width: 40%;
			}
		}
		&__big {
			flex: 0 0 50%;
			max-width: 50%;
			@include mmax(992) {
				flex: 0 0 40%;
				max-width: 40%;
			}
		}
	}
}
.pt_180px {
	padding-top: 180px;
}
.title_gradient {
	display: block;
	font-size: 42px;
	font-weight: 700;
	line-height: 50px;
	background: $gradient-title;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	&__reverse {
		background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
		background-clip: text;
	}
}
.page_text {
	font-size: 18px;
	line-height: 22px;
	color: $main;
	&__white {
		font-size: 21px;
		line-height: 30px;
		color: $white;
	}
	&__whiteS {
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		color: $white;
	}
	&__black {
		font-size: 21px;
		line-height: 30px;
		color: $black;
	}
	&__big-500 {
		font-size: 18px;
		line-height: 19px;
		color: $gray;
	}
	&__big-400 {
		font-size: 18px;
		width: 400px;
		line-height: 19px;
		color: $gray;
	}
	&__small-400 {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: $gray;
		
	}
	&__small-500 {
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		color: $gray;
	}
}
.item_title {
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	color: $blue;
	&__large{
		margin-bottom: 15px;
	}
}
.page_nav {
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	text-transform: uppercase;
	position: relative;
	&__violet {
		display: block;
		color: $main;
		text-align: center;
		margin-bottom: 30px;
	}
}
.contact_link {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: $blue;
	&__bold {
		font-weight: 700;
		&:hover {
			color: $red;
			transition: $trans;
		}
	}
	&__big {
		font-size: 21px;
		line-height: 30px;
		&:hover {
			color: $red;
			transition: $trans;
		}
	}
}
//  Sprite
.main_icon {
	display: block;
	width: 38px;
	height: 38px;
	fill: $blue;
	margin-top: 18px;
	&:hover {
		fill: $red;
		transition: $trans;
	}
}
.form {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	align-items: stretch;
	background-color: #F5F5FA;
	border: 1px solid transparent;
	border-radius: 12px;
	padding: 20px;
	position: relative;
	#name, #telNumb, #eMail {
		font-size: 18px;
		line-height: 26px;
		color: $gray;
		background-color: $white;
		border: none;
		outline: none;
		border-radius: 8px;
		padding: 11px;
		margin-bottom: 20px;
		&:invalid {
			border: 2px solid $red;
		}
	}
	#textArea {
		resize: vertical;
		font-size: 18px;
		line-height: 26px;
		color: #000;
		background-color: $white;
		border: none;
		outline: none;
		border-radius: 8px;
		margin-bottom: 20px;
	}
	label[for=telNumb] {
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 1px;
		color: $gray;
		text-transform: uppercase;
		text-indent: 15px;
		padding-bottom: 10px;
	}
}
.map {
	width: 100%;
}


